.secao-capa {
    background-image: url('/public/assets/capa.jpg');
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.capa {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    color: aliceblue;
}

.texto-capa {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
}

.texto-capa p,
.texto-capa h1 {
    font-family: 'Courier New', Courier, monospace;
}

.texto-capa h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.texto-capa p{
    font-size: 1.5rem;
    color: #3e3e3e;
}

/*media query*/

@media (max-width: 768px) {
    .capa {
        justify-content: flex-start;
    }

    .texto-capa {
        margin-top: 160px;
        max-width: 350px;
    }

    .texto-capa h1 {
        font-size: 2rem;
    }

    .texto-capa p {
        font-size: 1.5rem;
    }
}

@media (max-width: 500px) {
    .capa {
        background-position: 50%;
    }
    .texto-capa {
        max-width: 300px;
    }
    .texto-capa p {
        font-size: 1rem;
    }
    .texto-capa h1 {
        font-size: 1.5rem;
    }
}